.fin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.fin {
    width: 80%; /* 기본 너비: sm 사이즈 */
  }
  
  @media (min-width: 768px) { /* md 사이즈 이상일 때 */
    .fin {
      width: 576px; /* md 사이즈 이상일 때 */
    }
  } 

.fin>.card-header>h2 {
    margin: 0;
    font-size: larger;
    font-weight: bold;
    color: black;
}

.fin>.card-body p {
    white-space: nowrap;
    font-size: medium;
}

.fin>.card-body strong {
    white-space: nowrap;
    font-size: large;
    color: navy;
}