.fin {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.fin>.card-header>h2 {
    margin: 0;
    font-size: larger;
    font-weight: bold;
    color: black;
}

.fin>.card-body p {
    white-space: nowrap;
    font-size: medium;
}

.fin>.card-body strong {
    white-space: nowrap;
    font-size: large;
    color: navy;
}